/* Regole d'oro */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Settiamo il display flex per la classe flex */

.container{
    display: inline-block;
}

.row{
    display: flex;
    justify-content: space-around;

}

/* Settiamo classe col inline-block */
.col{
    display: flex;
    background-color: black;
    margin: 20px 10px;
    width: calc(100% / 3);
    
}

.text{
    color: white;
    flex-direction: column;
    justify-content: center;
    padding: 10px 80px 10px 5px;
}

.email{
    color: lightblue;
    font-size: smaller;
}

.image{
    width: 60px;
}

h2{
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
}

h3{
    margin-bottom: 5px;
    font-size: smaller;
}